/* header*/
.main{
    background-color: #eee;
  }
  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: hsl(0, 0%, 0%);
      width: 100%;
      margin: 0 auto;
      display: flex;
      z-index: 20;
      justify-content: space-between;
      padding: 0.3rem;
      align-items: center;
  }
  .navbar ul {
      list-style: none;
      display: flex;
      width: 40%;
      justify-content: space-around;
  }
  
  .navbar a {
      padding: 1.5em 0;
      text-decoration: none;
  }
  
  .navbar a:hover {
      color: #2aa6af;
  }
  .navbar .logo img{
      width: 80px
  }
  
  a:link {
      color: #FFFFFF;
  }

  /* background */
.Header-container{
	text-align: center;
	margin-top: 100px;  
}

.phone-img{
  position: relative;
  z-index: 1;
  top: -40px; left:507px;
}

.collection-img{
  position: absolute;
  z-index: 10;
  top: 150px; left: 550px;
  width: 40%;
  height: 50%;
}

.Heading-title{
  position: relative;
  z-index: 15;
  top: -400px; left:-300px;
  color: #2aa6af;
}

.buttonStart {
  /* background-image: linear-gradient(to right, hsl(176, 68%, 64%),hsl(198, 60%, 50%));   */
  position: relative;
  z-index: 15;
  top: -370px; left:-500px;
  background-color: #2aa6af;
  padding: 0.5rem 3rem;
  cursor: pointer;
  border-radius:25px;
  color: #fff;
  border: 1px solid ;
}

.buttonStart:hover {
  background-color: #FF2E63;
}

/* Most popular */

.popular-title{
  color: #2aa6af;
  text-align: center;
}

.Container {
    display: flex;
    justify-content: center;  
    align-items: center;
    margin:0 30px;
}

.menu-img{
    display: flex;           /*for (menu img ) to be Next to each other*/
    flex-direction: column;  /*for (menu txt) to be under the menu img*/
    padding: 10px;           /*to have a space between (menu images) */
    flex-wrap: nowrap;
    text-align: left;
    width: 30%;
}

.gallery-title{
  margin-top:15px;           /*to have a space between (gallery-title) and menu img*/
  color: #2aa6af;
  margin-bottom: 15px;       /*to have a space between (gallery-title) and (p)*/
}

.price{
  margin-top:15px;           /*to have a space between (price) and (p)*/
  color: #2aa6af;            
}
.qout-container{
  height: 400px;
  width: auto;
  color: #02eeff;
  text-align: center;
  background: url(/images/promotion_600x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 150px;
}
.qout_title {
font-size: 30px;
font-weight: 600;
padding: 120px 0 10px 0;
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.qout_content{
 font-size: 30px;
 padding: 10px;
 width: 70%;
 text-align: center;
 margin: 0 auto;
}
